<%- include('./partials/header.ejs')%>
<div id="chat-container">
  <div id="search-container">
    <input type="text" placeholder="Search" />
  </div>

  <div id="conversation-list">
    <% data.forEach(function(conversation) { %>
    <!-- conversation creator is same to logged in user, so we need to show participant name and avatar -->
    <% if(conversation.creator.id == loggedInUser.userid) { %>
    <div
      class="conversation"
      onclick="getMessages('<%= conversation._id %>', '<%= conversation.participant.name %>')"
    >
      <% if (conversation.participant.avatar) { %>
      <img
        src="./uploads/avatars/<%= conversation.participant.avatar %>"
        alt="<%= conversation.participant.name %>"
      />
      <% } else { %>
      <img src="./images/nophoto.png" />
      <% } %>
      <div class="title-text"><%= conversation.participant.name %></div>
      <div class="conversation-date"><%= conversation.last_updated %></div>
    </div>
    <% } else { %>
    <div
      class="conversation"
      onclick="getMessages('<%= conversation._id %>', '<%= conversation.participant.name %>')"
    >
      <% if (conversation.creator.avatar) { %>
      <img
        src="./uploads/avatars/<%= conversation.creator.avatar %>"
        alt="<%= conversation.creator.name %>"
      />
      <% } else { %>
      <img src="./images/nophoto.png" />
      <% } %>
      <div class="title-text"><%= conversation.creator.name %></div>
      <div class="conversation-date">
        <%= moment(conversation.last_updated).fromNow() %>
      </div>
    </div>
    <% } %> <% }); %>

    <!-- show no conversation placeholder image for 0 conversations -->
    <% if(data && data.length === 0) { %>
    <div class="nothing"><img src="./images/no-conversation.svg" /></div>
    <% } %>
  </div>

  <div id="new-message-container" onclick="openModal()">
    <img src="./images/add.png" style="height: 5rem" alt="Add Conversation" />
  </div>

  <div id="chat-title">
    <span id="conversation-partner"></span>
    <img
      id="delete-conversation"
      src="./images/trash.png"
      alt="Delete Conversation"
    />
  </div>

  <div id="chat-message-list"></div>
  <div id="chat-form">
    <img src="./images/attachment.png" alt=Add Attachment"" />
    <input type="text" placeholder="Type a message" />
  </div>
</div>

<%- include('./partials/add-conversation-modal.ejs'); %> <%-
include('./partials/footer.ejs')%>

<script>
  async function getMessages(conversationId, participantName) {
    const response = await fetch(`/inbox/get-message/${conversationId}`, {
      method: "GET",
      headers: {
        Authorization: getCookie("token"),
      },
    });

    const result = await response.json();
    if (result.errors) {
      console.log(result.errors.message);
    } else {
      document.getElementById("conversation-partner").innerText =
        participantName;
    }
  }
</script>
